@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,600;1,700&display=swap');
*{
    font-family: "poppins" , sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display:flex;
   justify-content: center; 
   align-items: center;
   min-height: 100vh;
   background: url(tree.jpg) no-repeat;
   background-position: center;
   background-size: cover;
}
.Wrapper{
    width:450PX;
    background-color: transparent;
    border:2px solid rgba(17, 146, 168, 0.774);
    backdrop-filter: blur(10px);
    color:azure;
    padding: 20px;
    border-radius: 20px;
}
.Wrapper h1{
    text-align: center;
}
.Wrapper .input-box{
    width:100%;
    height:50px;
    position:relative;
    margin:30px 0;
    
}
.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.562);
    color:azure;
    font-size: large;
    padding: 20px 45px 20px 20px;

}
.input-box input::placeholder{
    color: azure;
}
.input-box i{
    position: absolute;
    right:20px;
    top: 30%;
    transform: translate(-50%);
    font-size: medium;
}
.Wrapper .remember_password {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    color: azure;
}
.remember_password a{
    color:azure;
    text-decoration: none;
}
.remember_password a:hover{
    cursor: pointer;
    color: goldenrod;
    text-decoration: underline;
}
.Wrapper .remember_password input{
    margin-right:10px;
}
.btn{
    width:100%;
    height: 40px;
    font-size: medium;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
}
.Wrapper .register-link{
    font-size: medium;
    text-align: center;
    margin-top: 20px;

}
.register-link p a{
    text-decoration: none;
    color: azure;
}
.register-link a:hover{
    text-decoration: underline;
    color: goldenrod;

}